@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: "Inter", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=David+Libre:wght@400;700&display=swap");

body {
  font-family: var(--font-inter);
  transition: background-color 0.5s, color 0.5s;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
